<div class="card mat-card" id="first-card">
    <div class="profile-background">
        <img [src]="miPortfolio.backImage" alt="">
    </div>
  
    <div class="info">
        <div class="profile-image">
            <img [src]="miPortfolio.image" alt="">
            
            <a href="#" class="btn-edit">
                <i class="fa fa-pen"></i>
            </a>
            
        </div>
  
        <div class="info-data">
            <div>
                <h1>{{miPortfolio.name}}</h1>
                <div id="info-company">{{miPortfolio.position}}</div>
                <div id="info-contact">
                    <span>{{miPortfolio.ubicacion}}</span>
                    <p><a href="#">Informacion de contacto</a></p>
                </div>
            </div>
        
        
            <ul class="info-details">
                <li>
                    <a href="#" >
                        <img src="./assets/logo.png" alt="">
                        Universidad Nacional de San Martin
                    </a>
                </li>
            </ul>
        </div>
  
        <div class="info-actions">
            <button class="btn btn-primary" type="button">Tengo interes</button>
            <button class="btn btn-light" type="button">Anadir Seccion</button>
            <button class="btn btn-light" type="button">Mas</button>
        </div>
  
    </div>
  
  
  </div>