<div class="card mat-card">
    <div class="card-titles">
        <h2>Educacion</h2>
        <div class="btn-edit" onclick="cambiar_parrafo()">
            <a href="#" class="btn-right">
                <i class="fa fa-pen"></i>
            </a>
        </div>
    </div>
  
    <div class="items-list">
        <li *ngFor="let education of educationList">
            <div class="data-container">
                <a href="#">
                    <div class="logo-image-container">
                        <img [src]="education.img" alt="" class="logo-image">
                    </div>
                    <div class="lis-info">
                        <div>
                            <h3>{{education.school}}</h3>
                            <p>{{education.title}}</p>
                            <p><time>{{education.start}}</time> - <time>{{education.end}}</time></p>
                        </div>
                    </div>
                </a>
            </div>
        </li>
    </div>
</div>